body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: url('s4.jpg') no-repeat center center/cover;
    color: rgba(245, 246, 246, 0.964);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: up;
    align-items: center;
}

nav {
   
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(14, 14, 15, 0.832);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: rgb(246, 243, 246);
    text-decoration: underline;
}

.hero-section h1 {
    color: rgba(245, 246, 246, 0.964);
    font-size: 50px;
    margin: 20px;
}

.hero-section p {
    font-size: 20px;
    margin: 10px 0;
}

.btn {
    background-color: #fbfafb;
    color: rgb(37, 23, 23);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 50px 20px;
    text-align: center;
}

#features {
    background-color: #ffffff;
}

.feature {
    margin: 20px 0;
}

.feature img {
    max-width: 100%;
    height: auto;
}

#testimonials {
    background-color: #333;
    color: white;
}

.testimonial {
    margin: 20px 0;
}

#cta {
    background-color: #e74c3c;
    color: white;
    padding: 100px 20px;
}

footer {
    background-color: #d31212;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
